html,body{
    color:#F5F5F5;
    font-family: Helvetica;
    margin: 0;
  width: 100%;
  height: 100%;
  box-sizing:border-box;
  background-color: black;
}
.header{
  height: 15%;
  width: 100%;
  float: left;
  background-color:#333333;
  background-image: linear-gradient(#333333,#333333,#333333,#333333,#333333,#333333,#333333,#333333,#333333,#333333,#333333,#333333,#333333,#333333, black);
}
.casegauche{
  float: left;
  height: 85%;
  width: 10%;
  background-color:#333333;
}
.casemilieu{
  box-sizing: border-box;
float: left;
height: 85%;
width: 55%;

}
.casedroite{
float: right;
height: 85%;
width: 35%;
background-color: #333333;
}
div.gallery {
    margin-top: 25px;
    margin-left:50px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    cursor: pointer;
}
div.gallery img {
    width: 100%;
    height: auto;
  }
  div.gallery1 img {
      width: 100%;
      height: 100%;
    }
  .trailer{
    width: auto;
    height: 70%;
  }
  .description{

      width: auto;
      height: 30%;
  }
  .shape {
    cursor: pointer;
  }
  .shape1{
    margin-left: 8px;
    margin-top: 8px;
  width:34%;
  height:57%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  position: absolute;
  }
  .shape2{
    margin-top: 28px;
    margin-left: 8px;
  width:34%;
  height:20%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  position: absolute;

}
h3{
  text-align: center;
  color: white
}
iframe{
  width:100%;
  height: 100%;
}
p{
  text-align: center;

}
.header img {
  height: 85%;
  width: 8%;
  position: relative;
  right: 10px;
  position: relative;
  top: 5px;
}

.header h1.welcome {
  text-align: right;
  right: 8%;
  position: relative;
  bottom: 55px;
}
.header h2 {
  text-align: center;
  position: relative;
  bottom: 95px;
  right: 30px;
  height: 120px;
}
.logout {
  position: relative;
  font-weight: bold;
  top: 120px;
  left: 14px;
  background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    width: 120px;
    height: 30px;
    border: none;
}
h1#titre{
  position:absolute;
  margin-left: 100px;
  margin-top: 40px;

}
.gif{
  height: 100%;
  width: 100%;
}
.watch{
  background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    width: 120px;
    height: 30px;
    border: none;
  font-weight: bold;
  margin-left: 200px;


}
h2#txt{
  position: relative;
  bottom: 110px
}
div.gallery1 {

    height: 200px;
    border: 1px solid #ccc;
    float: left;
    width: 700px;
    cursor: pointer;
  }
  #premiere{
    position: relative;
    cursor: pointer;
    width: 700px;
    height: 200px;
      border: 1px solid #ccc;
  }
  #deuxieme{
    position: relative;
    top: 40px
  }
  .content{
    margin-left: 50px
  }
  #nouveaute{
    position: relative;
    top: 20px
  }

  .categ{

    margin-top: 20px;
    width: 100%;
    height: 400px;
  }
  .shape{
    text-align: center;
  width:100%;
  height:40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  position: relative;
  }
   h4{
    position: relative;
    top: 10px;
  }
  #contenu1,#contenu2,#contenu3,#contenu4,#contenu5{
    display: none;
  }
  #droitevikings,#droitehimym,#droitegot,#droitenaruto,#droitetokyoghoul,#droitetheoffice,#droiteonepiece,#droitemyhero,#droiteendofworld,#droitebrooklyn99,#droitebreakingbad,#droiteattackontitan,#droiteassassination{
    display: none;
  }
